.lista_peliculas {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    gap: 25px;
    padding: 0 20px 40px 20px; 
}

.formulario {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
    padding: 0;
}

.formulario input {
    flex-grow: 1; 
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    outline: none;
    transition: border-color 0.3s;
}

.formulario input:focus {
    border-color: #2c3e50; 
}

.formulario button {
    padding: 10px 20px;
    background-color: #2c3e50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.2s;
}

.search-form button:hover {
    background-color: #34495e;
}

@media (max-width: 600px) {
    .lista_peliculas {
        grid-template-columns: 1fr; 
        gap: 20px;
    }

    .formulario{
        flex-direction: column; 
        padding: 0;
    }
    
    .formulario button[type="submit"] {
        width: 100%;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .lista_peliculas {
        grid-template-columns: repeat(3, 1fr); 
    }
}