* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f8f8f8;
}

.contenido {
    padding: 20px;
}

h1 {
    padding-left: 20px;
    margin-bottom: 20px;
    color: #333;
    font-size: 2em;
}

p {
    padding-left: 20px;
}