.movie-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
    position: relative; 
    transition: transform 0.2s;
    height: 100%;
}

.movie-card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.movie-card img {
    width: 100%;
    height: auto;
    display: block;
    aspect-ratio: 2 / 3; 
    object-fit: cover;
}

.movie-card h3 {
    font-size: 1em;
    padding: 10px 10px 0 10px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.movie-card .year {
    font-size: 0.9em;
    color: #666;
    padding: 0 10px 10px 10px;
    margin: 0;
}

.movie-card button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background-color: rgba(220, 20, 60, 0.9); 
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    opacity: 0; 
    transition: opacity 0.3s;
    z-index: 20;
}

.movie-card:hover button {
    opacity: 1; 
}

.movie-card:hover img {
    filter: brightness(0.6); 
    transition: filter 0.3s;
}